# PostgreSQL
POSTGRES__HOST=db
POSTGRES__PORT=5432
POSTGRES__USER=postgres
POSTGRES__PASSWORD=example
POSTGRES__DB=praktikai

# Keycloak admin bootstrap
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin

# Backend - Keycloak
KEYCLOAK__SERVER_URL=http://keycloak:8080
KEYCLOAK__REALM_NAME=praktikai
KEYCLOAK__CLIENT_ID=backend
KEYCLOAK__CLIENT_SECRET=Hs1BgL1BhH3ZTNMAKJBtfeJDhu824W7a

# Backend - SeaweedFS (volitelne, maji vychozi hodnoty)
SEAWEEDFS__MASTER_URL=http://seaweedfs-master:9333
SEAWEEDFS__FILER_URL=http://seaweedfs-filer:8888

# OpenAI
OPENAI_API_KEY=sk-...

# Frontend
NEXT_PUBLIC_KEYCLOAK_URL=http://localhost:8080
NEXT_PUBLIC_KEYCLOAK_REALM=praktikai
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=praktik-ai-app
NEXT_API_URL=http://api:8000
